/* TYPOGRAPHY */

$button-fab-size: 56px;
$button-fab-font-size: 24px;

/* TYPOGRAPHY */

$font-family: 'Open Sans', sans-serif;

/* SHADOWS */

$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

/* TEXTFIELD */

$input-text-font-size: 16px !default;
$input-text-width: 100% !default;
$input-text-padding: 4px !default;
$input-text-vertical-spacing: 8px !default;

$input-text-button-size: 32px !default;
$input-text-floating-label-fontsize: 12px !default;
$input-text-expandable-icon-top: 16px !default;

/* APP COMPONENTS */

$btn-hover-darken-value: 10%;
$drawer-width: 256px;
$drawer-transition-duration: 200ms;
$drawer-transition-timing-function: ease-out;
$navbar-static-top-container-padding: 15px;
$navbar-static-top-height: 50px;
$navbar-static-top-height-admin: 160px;
$navbar-static-top-menu-size: 50px;
$navbar-static-top-title-line-height: 50px;
$navbar-static-top-title-padding: 15px;
